body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #C7B1B6;
}

header {
    
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

nav {
    text-align: center;
}

nav a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;

}

main {
    padding: 20px;
}

footer {
    padding: 10px;
    text-align: center;
}

footer p {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
}
